/* Font */
* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* General */
body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  padding: 0 140px;
  background-color: #1B262C;
}

.header h1,
.header a {
  color: #fff;
}

.header ul {
  margin-left: auto;
  display: flex;
  gap: 15px;
}

.header a {
  padding: 30px 0;
}

/* introduction */
.introduction {
  background-color: #1B262C;
  display: flex;
  min-height: 530px;
  justify-content: center;
  align-items: center;
}

.text {
  color: white;
  max-width: 500px;
}

.text h2{
  font-size: 48px;
  margin: 10px 0;
}

.text p{
  font-size: 18px;
  margin-bottom: 30px;
}

.text,
.img {
  margin: 0 25px;
}

.img {
  width: 350px;
  border-radius: 30px;
}

.text a {
  background-color: #3282B8;
  font-size: medium;
  color: #1B262C;
  padding: 15px;
  border-radius: 10px;
}

/* Projects */
.projects {
  background-color: #0F4C75;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 65px 0;
}

.projects h1 {
  color: #3282B8;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  text-align: center;
  width: 200px;
  margin: 30px;
}

.box-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
  width: 200px;
  border: 5px #3282B8;
  border-style: solid;
  border-radius: 30px;
}

.box img {
  height: 150px;
  width: auto;
}

.box p {
  color: #3282B8;
  font-size: large;
}

/* quote */
.big-quote {
  background-color: #3282B8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 150px 190px;
}

.quote {
  font-size: 36px;
  padding-bottom: 10px;
  color: #0F4C75;
}

.author {
  align-self: flex-end;
  font-size: 25px;
  color: #BBE1FA;;
}

/* final */
.final {
  background-color: #BBE1FA;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px 0;
}

.container {
  margin: 50px 0;
  padding: 30px 65px;
  background-color: #3282B8;
  border-radius: 10px;
  display: flex;
}

.left-text {
  margin-right: 190px;
}

.left-text h3 {
  font-size: 20px;
}

.left-text p {
  font-size: 15px;
}

.left-text h3,
.left-text p {
  margin: 5px;
  color: #bbe1fa;
}

.right-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right-button {
  padding: 5px 15px;
  border: 2px solid #BBE1FA;
  border-radius: 15px;
  color: #bbe1fa;
}

/* footer */
.footer {
  color: white;
  background-color: #1B262C;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}